<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for n in list1 %}
    <table border="1">
        <tr>
            <td>qisil </td>
            <td>qisil </td>
            <td>qisil </td>
        </tr>
        <tr>
            <td>{{ n }}</td>
            <td>{{ n }}</td>
            <td>{{ n }}</td>
        </tr>
    </table>

    {% endfor %}
</body>
</html>